.picsum-img-wrapper {
  height: 530px;
  display: flex;
  img {
    height: 100%;
    margin-left: auto;
  }
}

.carousel-caption {
  color: #3b4754;
  background-color: #edf0f4;
  position: absolute;
  right: 0%;
  bottom: 0;
  left: 50%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  h1 {
    max-width: 534px;
    min-height: 190px;
    padding: 40px;
    font-weight: 700;
    font-size: 42px;
    margin: 0;
  }
  p {
    max-width: 534px;
    min-height: 120px;
    padding: 20px 10px 20px 40px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
  }
  a.read-more {
    width: 188px;
    height: 42px;
    background-color: #29323d;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 15px;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 960px) {
  .picsum-img-wrapper {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .carousel-caption {
    height: 450px;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      // max-width: 300px;
      // min-height: 150px;
      // font-size: 30px;
      // padding: 20px 40px;
    }
    p {
      // max-width: 300px;
      // min-height: 100px;
      // font-size: 16px;
      // padding: 0 40px;
    }
    a.read-more {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

@media (max-width: 460px) {
  .picsum-img-wrapper {
    height: 330px;
  }
  .carousel-caption {
    height: 360px;
    h1 {
      max-width: 300px;
      min-height: 150px;
      font-size: 30px;
      padding: 20px 40px;
    }
    p {
      max-width: 300px;
      min-height: 100px;
      font-size: 16px;
      padding: 0 40px;
    }
  }
}
