<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper col-lg-6 p-0">
      <img
        src="../../../assets/carousel-img/visual-1.png"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h1>Drzwi automatyczne</h1>
      <p>
        W naszej ofercie znajdziecie Państwo pełną ofertę drzwi automatycznych
        oraz systemów drzwiowych.
      </p>
      <a class="read-more" href="#">Zobacz wiecej</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper col-lg-6 p-0">
      <img
        src="../../../assets/carousel-img/visual-2.png"
        alt="Random second slide"
      />
    </div>
    <div class="carousel-caption">
      <h1>Bramy garażowe</h1>
      <p>
        Posiadamy szeroki asortyment drzwi garażowych firm: Wiśniowski, Krispol,
        Wayne-Dalton.
      </p>
      <a class="read-more" href="#">Zobacz wiecej</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper col-lg-6 p-0">
      <img
        src="../../../assets/carousel-img/visual-3.png"
        alt="Random third slide"
      />
    </div>
    <div class="carousel-caption">
      <h1>Rolety zewnętrzne i wewnętrzne</h1>
      <p>
        Zapraszamy do zapoznania się z naszą szeroką gamą rolet zewnętrznych
        oraz wewnętrznych.
      </p>
      <a class="read-more" href="#">Zobacz wiecej</a>
    </div>
  </ng-template>
</ngb-carousel>
