<ngb-carousel>
  <ng-template ngbSlide *ngFor="let item of carouselContent">
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1>{{ item.header }}</h1>
            <h2>
              {{ item.description }}
            </h2>
            <div>
              <div class="text-center text-lg-start">
                <a
                  [routerLink]="item.rout"
                  class="
                    btn-get-started
                    scrollto
                    d-inline-flex
                    align-items-center
                    justify-content-center
                    align-self-center
                  "
                >
                  <a href="#">{{ item.buttonText }}</a>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 hero-img">
            <img
              [src]="'../../../assets/carousel-img/' + item.img"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
  </ng-template>
</ngb-carousel>
