.hero {
  width: 100%;
  height: 85vh;
  background: url(../../../assets/carousel-img/bg-carusela.png) top center
    no-repeat;
  background-size: cover;
  h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
  }
  h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
  }
  .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    a {
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 1px;
      color: white;
    }
    &:hover {
      transform: scale(1.05);
      a {
        color: #717ff5;
      }
    }
  }
  .hero-img {
    text-align: right;
    img {
      border-radius: 20px;
    }
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
    .hero-img {
      text-align: center;
      margin-top: 80px;
      img {
        width: 80%;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
    }
    .hero-img {
      img {
        width: 100%;
      }
    }
  }
}
