<ngb-carousel *ngIf="images" class="container col-6">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/carousel-img/visual-1.png"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Drzwi automatyczne</h3>
      <p>
        W naszej ofercie znajdziecie Państwo pełną ofertę drzwi automatycznych
        oraz systemów drzwiowych.
      </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/carousel-img/visual-2.png"
        alt="Random second slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Bramy garażowe</h3>
      <p>
        Posiadamy szeroki asortyment drzwi garażowych firm: Wiśniowski, Krispol,
        Wayne-Dalton.
      </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/carousel-img/visual-3.png"
        alt="Random third slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Rolety zewnętrzne i wewnętrzne</h3>
      <p>
        Zapraszamy do zapoznania się z naszą szeroką gamą rolet zewnętrznych
        oraz wewnętrznych.
      </p>
    </div>
  </ng-template>
</ngb-carousel>
