<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>{{ cardContent[currentLang].title }}</h2>
      <p>{{ cardContent[currentLang].description }}</p>
    </header>
    <div
      class="row gy-4 portfolio-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div
        class="col-lg-4 col-md-6 p-2 portfolio-item filter-web"
        *ngFor="let item of cardContent[currentLang].cards"
      >
        <div class="portfolio-wrap">
          <img
            [src]="'../../../assets/offert/' + item.img"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>{{ item.header }}</h4>
            <p>
              {{ item.shortTest }}
            </p>
            <div class="portfolio-links">
              <a [routerLink]="item.rout" title="More Details">{{
                item.buttonText
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
