<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Nasza oferta</h2>
      <p>Sprawdz czym sie zajmujemy</p>
    </header>
    <div
      class="row gy-4 portfolio-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="col-lg-4 col-md-6 p-2 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/offert/oferta-1.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>DRZWI AUTOMATYCZNE</h4>
            <p>
              W naszej ofercie do nabycia znajdą Państwo drzwi automatyczne oraz
              systemy do nich firm: GEZE oraz ESCO.
            </p>
            <div class="portfolio-links">
              <a href="#" title="More Details">czytaj wiecej</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/offert/oferta-2.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>DRZWI WEJŚCIOWE I WEWNĘTRZNE</h4>
            <p>
              W naszej ofercie do nabycia znajdą Państwo szeroki asortyment
              drzwi zwykłych. Zapewniamy serwis i montaż
            </p>
            <div class="portfolio-links">
              <a href="#" title="More Details">czytaj wiecej</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/offert/oferta-3.jpeg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>BRAMY GARAŻOWE</h4>
            <p>
              W naszej ofercie do nabycia znajdą Państwo bramy garażowe firm:
              Wiśniowski, Krispol, Wayne-Dalton.
            </p>
            <div class="portfolio-links">
              <a href="#" title="More Details">czytaj wiecej</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/offert/oferta-4.jpeg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>ROLETY ZEWNĘTRZNE I WEW.</h4>
            <p>Oferujemy montaż oraz serwis rolet.</p>
            <div class="portfolio-links">
              <a href="#" title="More Details">czytaj wiecej</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/offert/oferta-5.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>SYSTEMY ODDYMIANIA</h4>
            <p>
              Oferujemy montaż i serwis systemów oddymiania, pożarowych a także
              zabezpieczeń pożarowych...
            </p>
            <div class="portfolio-links">
              <a href="#" title="More Details">czytaj wiecej</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/offert/oferta-6.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>BRAMY PRZEMYSŁOWE</h4>
            <p>Oferujemy szeroką gamę bram przemysłowych.</p>
            <div class="portfolio-links">
              <a href="#" title="More Details">czytaj wiecej</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/offert/oferta-7.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>USŁUGI NAPRAWCZE</h4>
            <p>
              Oferujemy szeroki zakres usług serwisowych mdz. innymi z zakresu
              stolarki otworowej, naprawy zamków...
            </p>
            <div class="portfolio-links">
              <a href="#" title="More Details">czytaj wiecej</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/offert/oferta-8.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>CAŁA OFERTA</h4>
            <p>Sprawdz cała wachlaż naszych usług</p>
            <div class="portfolio-links">
              <a href="#" title="More Details">czytaj wiecej</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Section -->
