<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Animo</span>
          </a>
          <p>
            Ponad 20 lat doświadczenie w branży oraz dbanie o zadowolenie
            Klienta pozwoliło zająć nam znaczącą pozycję na rynku.
          </p>
        </div>
        <div class="col-lg-3 col-6 footer-links"></div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Informacje</h4>
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#"> Strona Główna </a>
            </li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Oferta</a></li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">O firmie</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i><a href="#">Referencje</a>
            </li>
            <li><i class="bi bi-chevron-right"></i><a href="#">Blog</a></li>
            <li><i class="bi bi-chevron-right"></i><a href="#">Kontakt</a></li>
          </ul>
        </div>
        <div
          class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
        >
          <h4>Kontakt</h4>
          <p>
            ul. Starodworska 4<br />
            Mokry Dwór<br />
            Wrocła, 50-458<br />
            Polska<br /><br />
            <strong>Telefon:</strong> +48 601 956 901<br />
            <strong>Email:</strong> animo@animo.wroclaw.pl<br />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy;Copyright: <strong><span>ANIMO FHU Sas Krystyn</span></strong
      >. Wszystkie prawa zastrzeżone.
    </div>
    <div class="credits">Created by <a href="#">GEKON Web Services</a></div>
  </div>
</footer>
