<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-12 footer-info">
          <a routerLink="/" class="logo d-flex align-items-center">
            <span>Animo</span>
          </a>
          <p>
            {{ footerContent.comapanyDescription }}
          </p>
        </div>
        <div class="col-lg-3 col-6 footer-links">
          <h4>{{ footerContent.titleAbout }}</h4>
          <a routerLink="/contact">
            <img
              src="../../../assets/other/mapa.jpg"
              class="img-fluid"
              alt="map"
            />
          </a>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>
            {{ footerContent.titleInformacion }}
          </h4>
          <ul>
            <li *ngFor="let item of footerContent.menuItems">
              <a [routerLink]="item.route"> {{ item.name }} </a>
            </li>
          </ul>
        </div>
        <div
          class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
        >
          <h4>{{ footerContent.titleContact }}</h4>
          <p>
            ul. Starodworska 4<br />
            Mokry Dwór<br />
            Wrocła, 50-458<br />
            Polska<br /><br />
            <strong>Telefon:</strong> +48 601 956 901<br />
            <strong>Email:</strong> animo@animo.wroclaw.pl<br />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy;Copyright: <strong><span>ANIMO FHU Sas Krystyn</span></strong
      >. {{ footerContent.rights }}.
    </div>
    <div class="credits">Created by <a href="#">GEKON Web Services</a></div>
  </div>
</footer>
