<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Animo</span>
          </a>
          <p>
            Ponad 20 lat doświadczenie w branży oraz dbanie o zadowolenie
            Klienta pozwoliło zająć nam znaczącą pozycję na rynku.
          </p>
        </div>
        <div class="col-lg-3 col-6 footer-links">
          <!-- <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2506.7372861742747!2d17.086432015913147!3d51.076399549944604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc2cf2b904343%3A0x19ef8064eea7b91d!2sAnimo%20Krystyna%20Sas!5e0!3m2!1spl!2spl!4v1625306507506!5m2!1spl!2spl"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe> -->
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Informacje</h4>
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#"> Strona Główna </a>
            </li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Oferta</a></li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">O firmie</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i><a href="#">Referencje</a>
            </li>
            <li><i class="bi bi-chevron-right"></i><a href="#">Blog</a></li>
            <li><i class="bi bi-chevron-right"></i><a href="#">Kontakt</a></li>
          </ul>
        </div>
        <div
          class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
        >
          <h4>Kontakt</h4>
          <p>
            ul. Starodworska 4<br />
            Mokry Dwór<br />
            Wrocła, 50-458<br />
            Polska<br /><br />
            <strong>Telefon:</strong> +48 601 956 901<br />
            <strong>Email:</strong> animo@animo.wroclaw.pl<br />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy;Copyright: <strong><span>ANIMO FHU Sas Krystyn</span></strong
      >. Wszystkie prawa zastrzeżone.
    </div>
    <div class="credits">Created by <a href="#">GEKON Web Services</a></div>
  </div>
</footer>
