<header id="header" class="header fixed-top" [class.sticky]="isTop">
  <div
    class="
      container-fluid container
      d-flex
      align-items-center
      justify-content-between
    "
  >
    <a routerLink="/" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="" />
      <span>Animo</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggle()"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <nav id="navbar" class="navbar">
      <ul>
        <li
          *ngFor="let item of navbarTextContent"
          [class.dropdown]="item?.children?.length"
        >
          <a
            class="nav-link"
            [routerLink]="[item.route]"
            routerLinkActive="router-link-active"
          >
            {{ item.name }}
          </a>
          <ul *ngIf="item?.children?.length">
            <li *ngFor="let subItem of item?.children">
              <a [routerLink]="[subItem.route]">{{ subItem.name }}</a>
            </li>
          </ul>
        </li>
        <li>
          <button class="lang-switcher" (click)="langSwitcher.langToggle()">
            <img
              [src]="'../../../assets/flags/' + currentLang + '.png'"
              alt="flag"
              class="img-fluid"
            />
          </button>
        </li>
      </ul>
    </nav>
    <nav id="navbar" class="navbar navbar-mobile" [class.show]="isActive">
      <ul (click)="toggle()">
        <li
          *ngFor="let item of navbarTextContent"
          [class.dropdown]="item?.children?.length"
        >
          <a
            class="nav-link"
            [routerLink]="[item.route]"
            routerLinkActive="router-link-active"
          >
            {{ item.name }}
          </a>
          <ul *ngIf="item?.children?.length">
            <li *ngFor="let subItem of item?.children">
              <a [routerLink]="[subItem.route]">{{ subItem.name }}</a>
            </li>
          </ul>
        </li>
        <li>
          <button class="lang-switcher" (click)="langSwitcher.langToggle()">
            <img
              [src]="'../../../assets/flags/' + currentLang + '.png'"
              alt="flag"
              class="img-fluid"
            />
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
