<section class="about">
  <div class="container about">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column justify-content-center">
        <div class="content">
          <h3>{{ homeContentValue.starter }}</h3>
          <h2>
            {{ homeContentValue.header }}
          </h2>
          <p>
            {{ homeContentValue.content }}
          </p>
          <div class="col-12 hide" [class.show]="show">
            <p *ngFor="let item of homeContentValue.hideContent">
              {{ item }}
            </p>
          </div>
          <div class="text-center">
            <a
              role="button"
              (click)="show = !show"
              class="
                btn-read-more
                d-inline-flex
                align-items-center
                justify-content-center
                align-self-center
              "
            >
              <span>{{ show ? "Zwiń" : "Rozwiń" }}</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="values">
  <div class="container">
    <header class="section-header" @fade>
      <h2>{{ homeContentService.starte }}</h2>
      <p>{{ homeContentService.header }}</p>
    </header>
    <div class="row">
      <div
        class="
          col-lg-4
          offset-lg-0
          col-md-8
          offset-md-2
          col-sm-10
          offset-sm-1
          p-2
        "
        *ngFor="let item of homeContentService.offert"
      >
        <div class="box">
          <img
            [src]="'../../../assets/other/' + item.img"
            class="img-fluid"
            [alt]="item.title"
          />
          <h3>{{ item.title }}</h3>
          <p>
            {{ item.body }}
          </p>
          <div class="text-center text-lg-start">
            <a
              *ngIf="item.rout; else btn"
              [routerLink]="item.rout"
              [queryParams]="item.query"
              class="
                btn-read-more
                d-inline-flex
                align-items-center
                justify-content-center
                align-self-center
              "
            >
              <span>{{ item.buttonText }}</span>
            </a>
            <ng-template #btn>
              <button
                (click)="modal.next(!modal.getValue())"
                class="
                  btn-read-more
                  d-inline-flex
                  align-items-center
                  justify-content-center
                  align-self-center
                "
              >
                <span>
                  {{ item.buttonText }}
                </span>
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about">
  <div
    class="container container mt-md-5 mt-sm-5"
    *ngFor="let item of homeContentAbout; let i = index"
  >
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <div
          class="content"
          [ngClass]="{ 'order-lg-last': i === 1, 'order-sm-first': i === 1 }"
        >
          <h3>{{ item.starter }}</h3>
          <h2>
            {{ item.header }}
          </h2>
          <p>
            {{ item.content }}
          </p>
          <div class="text-center text-lg-start">
            <a
              routerLink="/firma"
              class="
                btn-read-more
                d-inline-flex
                align-items-center
                justify-content-center
                align-self-center
              "
            >
              <span>{{ item.buttonText }}</span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 d-flex align-items-center p-2"
        [ngClass]="{
          'order-lg-first': i === 1,
          'order-sm-last': i === 1,
          'offset-lg-0': i === 1,
          'offset-md-1': i === 1
        }"
      >
        <img
          [src]="'../../../assets/other/' + item.img"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<app-card></app-card>
<app-modal [modal]="modal"></app-modal>
