<section id="clients" class="clients">
  <div class="container">
    <header class="section-header">
      <h2>Nasi Klienci</h2>
      <p>Firmy z którymi współpracujemy</p>
    </header>
    <div class="clients-slider swiper-container">
      <div class="swiper-wrapper align-items-center row text-center">
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-6">
          <img
            src="../../../assets/partners/auchan.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-6">
          <img
            src="../../../assets/partners/biedronka.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-6">
          <img
            src="../../../assets/partners/castorama.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-6">
          <img
            src="../../../assets/partners/energia.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-6">
          <img
            src="../../../assets/partners/makro.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-6">
          <img src="../../../assets/partners/ue.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Clients Section -->

<!-- <div class="container-fluid bg-light">
  <div class="container">
    <section>
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
        <h5 class="text-uppercase fw-bold mb-4">
          <fa-icon icon="handshake" class="mr-2"></fa-icon>
          Partnerzy
        </h5>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/auchan.png" class="w-100" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/biedronka.jpg" class="w-100" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/castorama.png" class="w-100" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/energia.jpg" class="w-100" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/makro.jpg" class="w-100" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/ue.jpg" class="w-100" />
          </div>
        </div>
      </div>
    </section>
  </div>
</div> -->
