<div class="container-fluid bg-light pt-2">
  <div class="container">
    <!-- Section: Images -->
    <section>
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
        <h5 class="text-uppercase fw-bold mb-4">
          <fa-icon icon="handshake" class="mr-2"></fa-icon>
          Partnerzy
        </h5>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/auchan.png" class="w-100" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/biedronka.jpg" class="w-100" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/castorama.png" class="w-100" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/energia.jpg" class="w-100" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/makro.jpg" class="w-100" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 partnerImg">
          <div class="bg-image">
            <img src="../../../assets/partners/ue.jpg" class="w-100" />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
