.clients {
  .clients-slider {
    .swiper-slide {
      img {
        opacity: 1;
        transition: 0.3s;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .clients {
    .clients-slider {
      .swiper-slide {
        img {
          max-width: 150px;
        }
      }
    }
  }
}
