.sidebar {
  .box {
    padding: 30px 20px;
    top: 100px;
    position: relative;
    text-align: center;
    img {
      padding: 30px 50px;
      transition: 0.5s;
      transform: scale(1.1);
    }
    h3 {
      font-size: 24px;
      color: #012970;
      font-weight: 700;
      margin-bottom: 18px;
    }
  }
}
.services {
  .about {
    margin-bottom: 3rem;
    .content {
      background-color: #f6f9ff;
      padding: 40px;
      .hide {
        transition: opacity 1s ease-out, height 0.5s linear;
        opacity: 0;
        height: 0;
        overflow: hidden;
      }
      .hide.show {
        opacity: 1;
        height: 380px;
      }
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      color: #012970;
    }
    h3 {
      font-size: 14px;
      font-weight: 700;
      color: #4154f1;
      text-transform: uppercase;
    }
    p {
      margin: 15px 0 30px 0;
      line-height: 24px;
    }
  }

  .service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    background: #fff;
    fa-icon {
      font-size: 36px;
      padding: 20px;
      border-radius: 4px;
      position: relative;
      display: inline-block;
      line-height: 0;
      transition: 0.3s;
    }
    h3 {
      color: #012970;
      font-weight: 700;
      margin-bottom: 25px;
    }
    p {
      color: #444444;
    }
    &:hover {
      h3,
      p {
        color: #fff;
      }
      fa-icon {
        background: #fff;
      }
    }
  }
  .service-box.blue {
    border-bottom: 3px solid #2db6fa;
    fa-icon {
      color: #2db6fa;
      background: #dbf3fe;
    }
    &:hover {
      background: #2db6fa;
    }
  }
  .service-box.orange {
    border-bottom: 3px solid #f68c09;
    fa-icon {
      color: #f68c09;
      background: #fde3c4;
    }

    &:hover {
      background: #f68c09;
    }
  }
  .service-box.green {
    border-bottom: 3px solid #08da4e;
    fa-icon {
      color: #08da4e;
      background: #cffddf;
    }

    &:hover {
      background: #08da4e;
    }
  }
  .service-box.red {
    border-bottom: 3px solid #e9222c;
    fa-icon {
      color: #e9222c;
      background: #fef7f8;
    }

    &:hover {
      background: #e9222c;
    }
  }
  .service-box.purple {
    border-bottom: 3px solid #b50edf;
    fa-icon {
      color: #b50edf;
      background: #f8e4fd;
    }

    &:hover {
      background: #b50edf;
    }
  }
  .service-box.pink {
    border-bottom: 3px solid #f51f9c;
    fa-icon {
      color: #f51f9c;
      background: #feecf7;
    }
    &:hover {
      background: #f51f9c;
    }
  }
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
