<div class="sidebar sticky-top">
  <h3 class="sidebar-title">Recent Posts</h3>
  <div class="sidebar-item recent-posts">
    <div
      class="post-item clearfix"
      *ngFor="let item of sideContent[langSwitcher.getCurrentLang].postItems"
    >
      <img [src]="'../../../assets/blog/' + item.img" alt="" />
      <h4>
        <a [routerLink]="item.rout">{{ item.header }}</a>
      </h4>
      <time datetime="2020-01-01">{{ item.createdAt }}</time>
    </div>
  </div>
  <h3 class="sidebar-title">Tags</h3>
  <div class="sidebar-item tags">
    <ul>
      <li *ngFor="let item of sideContent[langSwitcher.getCurrentLang].tags">
        {{ item.title }}
      </li>
    </ul>
  </div>
</div>
