.sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  top: 100px;
  .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #012970;
    position: relative;
  }
  .sidebar-item {
    margin-bottom: 30px;
  }
  .sidebar-item {
    margin-bottom: 30px;
  }
  .recent-posts {
    .post-item + .post-item {
      margin-top: 15px;
    }
    img {
      width: 80px;
      float: left;
    }
    h4 {
      font-size: 15px;
      margin-left: 95px;
      font-weight: bold;
      a {
        color: #012970;
        transition: 0.3s;
        &:hover {
          color: #4154f1;
        }
      }
    }
    time {
      display: block;
      margin-left: 95px;
      font-style: italic;
      font-size: 14px;
      color: #aaaaaa;
    }
  }
  .tags {
    margin-bottom: -10px;
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
      }
      a {
        color: #0257ee;
        font-size: 14px;
        padding: 6px 14px;
        margin: 0 6px 8px 0;
        border: 1px solid #d7e6ff;
        display: inline-block;
        transition: 0.3s;
        span {
          padding-left: 5px;
          color: #a5c5fe;
          font-size: 14px;
        }
        &:hover {
          color: #fff;
          border: 1px solid #4154f1;
          background: #4154f1;
        }
      }
    }
  }
}
