<section id="blog" class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry entry-single" *ngIf="currentPost">
          <div class="entry-img">
            <img
              [src]="'../../../assets/blog/' + currentPost.img"
              alt=""
              class="img-fluid"
            />
          </div>
          <h2 class="entry-title">{{ currentPost.header }}</h2>
          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center">
                <time datetime="2020-01-01">{{ currentPost.date }}</time>
              </li>
            </ul>
          </div>
          <div class="entry-content">
            <ng-container *ngFor="let text of currentPost.textBody">
              <ng-template [ngIf]="text.type === 'PARAGRAPH'">
                <p>{{ text.content }}</p>
              </ng-template>
              <ng-template [ngIf]="text.type === 'HEADER'">
                <h3>{{ text.content }}</h3>
              </ng-template>
              <ng-template [ngIf]="text.type === 'LIST'">
                <ul>
                  {{
                    text.headerList
                  }}
                  <li *ngFor="let item of text.items">{{ item }}</li>
                </ul>
              </ng-template>
            </ng-container>
          </div>
          <div class="entry-footer">
            <ul class="tags">
              <li *ngFor="let tag of currentPost.tags">{{ tag }}</li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-lg-4">
        <app-sidebar [currentPost]="currentPost"></app-sidebar>
      </div>
    </div>
  </div>
</section>
