@import "../../views/blog/blog.component.scss";

.blog {
  .entry {
    .entry-footer {
      padding-top: 10px;
      border-top: 1px solid #e6e6e6;
      i {
        color: #0d64fd;
        display: inline;
      }
      a {
        color: #013289;
        transition: 0.3s;
        &:hover {
          color: #4154f1;
        }
      }
      .cats {
        list-style: none;
        display: inline;
        padding: 0 20px 0 0;
        font-size: 14px;
        li {
          display: inline-block;
        }
      }
      .tags {
        list-style: none;
        display: inline;
        padding: 0;
        font-size: 14px;
        li {
          display: inline-block;
        }
        li + li {
          &:before {
            padding-right: 6px;
            color: #6c757d;
            content: ",";
          }
        }
      }
      .share {
        font-size: 16px;
        i {
          padding-left: 5px;
        }
      }
    }
  }
}
