/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", "Open Sans", sans-serif !important;
  color: #444444;
  a {
    color: #16c1f3;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif !important;
  }
}

ol.carousel-indicators {
  li {
    height: 4px;
    background-color: #29323d;
  }
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 100;
  background-color: #012970;
  width: 60px;
  height: 80px;
  margin: auto;
  transition: 0.3s;
}

.partnerImg {
  display: flex;
  align-items: center;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.2);
    opacity: 0.6;
  }
}

section {
  padding: 60px 0;
}
.container {
  max-width: 1400px;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
  h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #16c1f3;
    text-transform: uppercase;
  }
  p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
  }
}

.btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  color: #fff;
  background: #16c1f3;
  text-decoration: none;
  transition: 0.3s;
  border: none;
  height: 40px;
  span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  &:hover {
    transform: scale(1.05);
    background: #012970;
  }
}

.modal-content {
  border: none;
}
