/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

ol.carousel-indicators {
  li {
    height: 4px;
    background-color: #29323d;
  }
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 100;
  background-color: #29323d;
}

.partnerImg {
  display: flex;
  align-items: center;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.2);
    opacity: 0.6;
  }
}
