.loader {
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background: #ffffff66;
  .spinner-border {
    color: #012970;
    width: 3rem;
    height: 3rem;
  }
}

.loader.show {
  display: flex;
}
